<template name="calendar">
  <div class="sidebar__body">
    <h2 class="sidebar__body__title">
      {{#unless Template.subscriptionsReady}}
        {{icon 'circle-o-notch fa-spin'}}
        Counting bookings...
      {{else}}
        Bookings
      {{/unless}}
    </h2>

    {{#if Template.subscriptionsReady}}
      <div class="sidebar__body__calendar">
        <div class="calendar__week">
          <div class="week__day week__day--fake">
            <div class="week__day__header">mon</div>
          </div>
          <div class="week__day week__day--fake">
            <div class="week__day__header">tue</div>
          </div>
          <div class="week__day week__day--fake">
            <div class="week__day__header">wed</div>
          </div>
          <div class="week__day week__day--fake">
            <div class="week__day__header">thu</div>
          </div>
          <div class="week__day week__day--fake">
            <div class="week__day__header">fri</div>
          </div>
          <div class="week__day week__day--fake">
            <div class="week__day__header">sat</div>
          </div>
          <div class="week__day week__day--fake">
            <div class="week__day__header">sun</div>
          </div>
        </div>
        {{#each w in weeks}}
          {{> week w}}
        {{/each}}
      </div>
    {{/if}}
  </div>
</template>

<template name="week">
  <div class="calendar__week {{weekClass}}">
    {{#each days}}
      <div class="week__day js-click-day {{isActive}}">
        <div class="week__day__header {{monthClass}}">
          {{name}}
        </div>
        {{#if count}}
          <div class="week__day__count" {{dayColor}}>
            {{count}}
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
</template>
