<template name="calendar">
  <div class="sidebar__body">
    <h2 class="sidebar__body__title">
      Unique bookings
      {{#unless Template.subscriptionsReady}}
        ...
      {{/unless}}
    </h2>

    {{#if Template.subscriptionsReady}}
      <div class="sidebar__body__calendar">
        {{> week fakeWeek}}
        {{#each w in weeks}}
          {{> week w}}
        {{/each}}
      </div>
    {{/if}}
  </div>
</template>

<template name="week">
  <div class="calendar__week {{weekClass}}">
    {{#each day in days}}
      <div class="week__day">
        <div class="week__day__header {{monthClass day}}">
          {{day.name}}
        </div>
        {{#if day.count}}
          <div class="week__day__count" {{dayColor day}}>
            {{day.count}}
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
</template>
