<template name="clusterList">
  {{#if hasClusters}}
    <div class="sidebar__body">
      <h2 class="sidebar__body__title">
        Found points {{selectedHour}}
      </h2>

      <div class="clusters__list">
        {{#each clusters}}
          <div class="clusters__entry {{expandCluster 'clusters__entry--expanded'}} {{hoverClass}}">
            <div class="entry__title js-toggle-cluster">
              {{icon 'bullseye'}} {{position}}
              {{icon 'taxi'}} {{count}} bookings

              {{#if expandCluster}}
                {{icon 'chevron-down entry__control'}}
              {{else}}
                {{icon 'chevron-left entry__control'}}
              {{/if}}
            </div>
            {{#if expandCluster}}
              {{> taxiList taxis = drivers}}
            {{/if}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</template>

<template name="taxiList">
  {{#each taxis}}
    <div class="entry__taxi">
      <div class="taxi__dot"></div>
      <div class="taxi__info">
        <div class="taxi__info__title">
          {{icon 'clock-o'}} {{time}}
          {{icon 'taxi'}} {{taxiId}}
          {{icon 'map-marker'}} {{coordinates}}
        </div>
        <div class="taxi__info__address">
          {{icon 'home'}} {{position}}
        </div>
      </div>
    </div>
  {{/each}}
</template>
