<template name="clusterbar">
  <section class="sidebar {{hideSidebar 'sidebar--hidden'}}">
    <div class="sidebar__header">
      <div class="sidebar__header__title">
        Pickup points
      </div>
    </div>
    {{#unless hideSidebar}}
      {{> clusterForm}}
    {{/unless}}
  </section>
</template>

<template name="clusterForm">
  <div class="sidebar__body">
    <h2 class="sidebar__body__title">
      Find common pickup points
    </h2>

    <form class="sidebar__form js-cluster-form">
      <div class="form__row">
        <label class="form__input">
          Max. distance (km)
          <input type="number" min="0.1" step="0.1" placeholder="Distance" value="1.5" name="radius">
        </label>
        <label class="form__input">
          Minimum cars
          <input type="number" min="1" step="1" placeholder="Cars" value="10" name="cars">
        </label>
      </div>
      <div class="form__row">
        <button disabled="{{loading}}">
          {{#if loading}}
            {{icon 'circle-o-notch fa-spin'}}
            Finding points...
          {{else}}
            Find points
          {{/if}}
        </button>
      </div>
    </form>
  </div>
  {{> clusterList clusters = clusters}}
</template>

<template name="clusterList">
  {{#if hasClusters}}
    <div class="sidebar__body">
      <h2 class="sidebar__body__title">
        Common points
      </h2>

      <div class="clusters__list">
        {{#each clusters}}
          <div class="clusters__entry">
            <div class="entry__title">
              {{icon 'map-marker'}} {{position}}
              {{icon 'taxi'}} {{count}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</template>
