<template name="sidebar">
  <section class="sidebar {{hideSidebar 'sidebar--hidden'}}">
    <div class="sidebar__header">
      <div class="sidebar__header__title">
        Driver {{driver}}
      </div>
      <div class="sidebar__header__exit js-exit-taxi">&times;</div>
    </div>
    {{#unless hideSidebar}}
      {{> info}}
      {{> calendar}}
    {{/unless}}
  </section>
</template>

<template name="info">
  <div class="sidebar__body">
    <h2 class="sidebar__body__title">
      Change driver
    </h2>
    <div class="form__row sidebar__form">
      <input type="number" min="10002" max="11789" step="1"
             class="js-select-driver" value="{{session 'selectedTaxiId'}}">
    </div>
    {{#unless hasData}}
      <p>
        No data available for {{session 'selectedTaxiId'}}.
      </p>
    {{/unless}}
  </div>
</template>
