@import 'variables';

$border-color: #999;

.sidebar__body__calendar {
  border-bottom: 1px solid $border-color;
}

.calendar__week {
  display: flex;
  line-height: 1;
  text-align: center;

  & + & {
    border-top: 1px solid $border-color;
  }
}

.week__day {
  width: (100% / 7);

  box-sizing: border-box;
  & + & {
    border-left: 1px solid $border-color;
  }

}

.week__day__count {
  padding: ($padding / 5);
}

.week__day__header {
  font-size: .7rem;
  padding: ($padding / 5) 0;
  background: rgba(#000, .03);

  &--gray {
    color: $border-color;
  }
}
