@import 'variables';

.taxis, .taxis svg, .clusters, .clusters svg {
  position: absolute;
}

.taxis .marker {
  margin: 0;
  width: 12px;
  height: 12px;
}

.marker circle {
  fill: rgba(255, 0, 0, .5);
  stroke: darkred;
  stroke-width: 1px;
  cursor: pointer;
}

.taxis circle:hover {
  fill: green;
}

.clusters circle {
  fill: rgba($blue, .7);
  stroke: red;
  stroke-width: 2px;
  cursor: pointer;

  &:hover {
    fill: rgba($blue, .3);
  }
}
