@import 'variables';

.sidebar {
  position: fixed;
  top: 0;
  width: $sidebarWidth;
  transition: right .2s ease-in-out;
  box-sizing: border-box;
  right: 0;
  background: $background;
  max-height: unquote('calc(100% - #{$timelineHeight + 2 * $padding})');
  overflow: scroll;
}

.sidebar.sidebar--hidden {
  right: - $sidebarWidth;
}

.sidebar__wrapper {
  box-sizing: border-box;
  height: auto;
}

.sidebar p {
  padding: 0 ($padding / 2);
}

.sidebar__header {
  display: flex;
  font-size: $padding;
  line-height: 1;
  text-transform: uppercase;
}

.sidebar__header__title {
  padding: $padding;
  background: darken($background, 10%);
  flex-grow: 1;
}

.sidebar__header__exit {
  cursor: pointer;
  background: darken($background, 20%);
  border-left: 1px solid white;
  padding: $padding;
  width: $padding;
  text-align: center;
  align-self: flex-end;
}

.sidebar__body {
  margin-top: $padding;
}

.sidebar__body__title {
  margin: 0 0 ($padding / 2);
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 0 ($padding / 2);
}

.form__row {
  display: flex;
  margin-bottom: ($padding / 2);
}

.sidebar__form {
  padding: 0 ($padding / 2);
}

.form__input + .form__input {
  padding-left: ($padding / 2);
}

.clusters__entry {
  padding: ($padding / 2);
  font-size: .9rem;

  & + & {
    border-top: 1px solid #e3e3e3;
  }

  &:hover {
    background: #eeeeee;
  }
  &--expanded:hover {
    background: #ffffff;
  }
}

.entry__title {
  cursor: pointer;
}

.entry__title .fa {
  color: #444;
}

.entry__control {
  margin-top: 3px;
  opacity: 0;
  float: right;

  .clusters__entry:hover & {
    opacity: 1;
  }
}

.entry__taxi {
  display: flex;
  padding: ($padding / 2) $padding;
  margin-left: 5px;
  border-left: 1px solid #e3e3e3;
  position: relative;
  color: lighten($fontColor, 30%);

  &:hover {
    color: $fontColor;
  }

  &:hover .taxi__dot,
  &--selected .taxi__dot {
    background: #444444;
  }
}

.taxi__dot {
  height: ($padding / 2);
  width: ($padding / 2);
  background: #e3e3e3;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -($padding / 4);
}

.taxi__info {
  font-size: 0.85rem;
}
