html, body, #map, .loading-outer {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.loading-outer {
  position: fixed;
  top: 0;
}

.loading-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, .9);
  padding: 15px;
}

.taxis, .taxis svg {
  position: absolute;
}

.taxis svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.taxis circle {
  fill: red;
  stroke: darkred;
  stroke-width: 1px;
}
