@import 'variables';

#timelineParent {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: $background;
  height: $timelineHeight;
  padding: $padding;
}

#hourTimeLine {
  width: 70%;
  box-sizing: border-box;
}

#minTimeLine {
  width: 30%;
  box-sizing: border-box;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.timeline__title {
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
}
